.car{
    width: 50px;
    height: 40px;
    margin-right: 6rem;

}
.car >img {
    width: 30px;
    height: 30px;
    border-radius: 1rem;
    margin-top: 4px;
    margin-left: 4px;

}

.car >span{
    color: white;
}